html {
  position: relative;
  min-height: 100%;
}
body{
}
.tab button.active {
    background-image: linear-gradient(#51c2d7, #51dacf);
}
div h4
{
	text-align: center;
	background: #ffffff;
	color: #666;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	border-radius: 10px;
	padding: 8px;
	margin: 8px 0 8px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
div h5
{
	text-align: center;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	border-radius: 10px;
	padding: 10px;
	margin: 5px 0 5px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
div h3
{
	text-align: center;
	background: orange;
	color: black;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
	text-transform: uppercase;
	letter-spacing: 3px;
    box-shadow: 1px 1px 15px 0px rgba( 20, 20, 20, .3 );
    font-weight: bold;
}
.ALL{
    
    height: 80%;
    display: inherit;
    border: 50px;
    /*background: red;*/
    position: relative;
}
.tab
{
    text-align: center
}
.tab1
{
	position: absolute;
	bottom: 0px;
	width: 100%;
    text-align: center;
	left: 0px;
	right: 0px;
}
.tablinks
{
    width: 157px;
	text-align: center;
    display: inline-block;
	background: #e9e9e9;
	color: black;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	border-radius: 10px;
	padding: 20px;
	margin: 5px;
	text-transform: uppercase;
	letter-spacing: 3px;
    box-shadow: 1px 1px 15px 0px rgba( 20, 20, 20, .3 );
    font-weight: bold;
}
.tablinks-1
{
    width: 135px;
	text-align: center;
    display: inline-block;
	background: #e9e9e9;
	color: black;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
	text-transform: uppercase;
	letter-spacing: 3px;
    box-shadow: 1px 1px 15px 0px rgba( 20, 20, 20, .3 );
    font-weight: bold;
}
.tablinks-2
{
    width: 200px;
	text-align: center;
	background-image: linear-gradient(RGBA(255,165,0,255), RGBA(255,0,0,1));
	color: white;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	border-radius: 10px;
	padding: 20px;
	margin: 5px;
	text-transform: uppercase;
	letter-spacing: 3px;
    box-shadow: 1px 1px 15px 0px rgba( 20, 20, 20, .3 );
    font-weight: bold;
}
.input-toggle {
  position: relative;
  display: inline-table;
  vertical-align: middle;
  float: right
}
.input-toggle:before {
  content: "on";
  left: 0;
  color: #fff;
}
.input-toggle:after {
  content: "off";
  right: 0;
  color: #1a626e;
}
.input-toggle:before, .input-toggle:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 12px 16px;
  font-size: 12px;
  z-index: 0;
}
.input-toggle input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}
.input-toggle input:checked ~ .input-toggle-handle {
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 1px #31a2a8;
}
.input-toggle input:checked ~ .input-toggle-handle:before {
  left: calc(50% + 3px);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px #31a2a8, 0 1px 2px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
}

.input-toggle-handle {
  display: block;
  width: 70px;
  height: 35px;
  background-image: linear-gradient(#51c2d7, #51dacf);
  border-radius: 10em;
  transition: .4s ease;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 44px 44px #fff;
}

.input-toggle-handle:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 0px;
  width: 28px;
  height: 28px;
  transition: .4s ease;
  background: #fff;
  border-radius: 10em;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
}
.container {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  min-height: 10px;
  background: #f9f9f9;
}
.field {
  padding: 24px;
  margin: auto;
  flex-basis: 100%;
  text-align: left;
}
.label-1 {
    color: #444;
    font-weight: 700;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.label {
  color: #444;
  font-weight: 700;
    
}
p {
    color: #444;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-table;
}
.input-toggle {
  margin-right: 10px;
  text-align: right;
    margin-top: 5px;
    margin-bottom: 5x;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
	background-color: #f5f5f5;
	border-top: 1px solid lightgrey;
	text-align: center;
	left: 0px;
	right: 0px;
}
.square {
    display: none;
    overflow: auto;
	width: -webkit-fill-available;
	background: #ededed;
	padding: 4px 10px;
	/*float: left;
	height: 330px;*/
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	position: relative;
	box-shadow: 1px 1px 15px 0px rgba( 20, 20, 20, .3 );
}
.RGB-Tab {
    display: none;
    margin-top: 10px;
    margin-bottom: 5px;
}


input[type=range] {
    -webkit-appearance: none;
    width: 80%;
    height: 46px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.6) 100%);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 30px;
    float: right;
    
}
input[type=range]:focus {
  outline: 10px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: inherit;
  height: 8.4px;
  cursor: default;
    /*zzbackground: red;*/
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -11px;
  height: 30px;
  width: 60px;
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  background: linear-gradient(to bottom, white 30%, #dddddd 100%);
  display: inline-block;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  top: 0;
  left: 0;
  border-radius: 15px;
  text-align: center;
  color: #999;
  line-height: 30px;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  -webkit-transition: border-radius 0.5s;
  -moz-transition: border-radius 0.5s;
  -o-transition: border-radius 0.5s;
  transition: border-radius 0.5s;
    
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: none;
}
input[type=range]::-moz-range-track {
  width: 70%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 60%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
.footer{        
}


@media (min-width:480px) {
    
html {
  position: in;
  max-height: 100%;
}
    
.ALL{
        padding-left: 10px;
        padding-right: 10px;
        display:inherit;
}
div h4
{
	text-align: center;
	background: #ffffff;
	color: #666;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	border-radius: 10px;
	padding: 10px;
	margin: 5px 0 5px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
div h3
{
	text-align: center;
	background: orange;
	color: black;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
	text-transform: uppercase;
	letter-spacing: 3px;
    box-shadow: 1px 1px 15px 0px rgba( 20, 20, 20, .3 );
    font-weight: bold;
}
.square {
    width: 75%;
    top: 8px;
    display: none;
    overflow: auto;
	background: #ededed;
	padding: 4px 10px;
	/*float: left;
	height: 330px;*/
	margin: 0px;
	border: 1px solid #ccc;
	border-radius: 4px;
	position: inherit;
	box-shadow: 1px 1px 15px 0px rgba( 20, 20, 20, .3 );
}
p {
    color: #444;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-table;
}
.tab{
    text-align: right;
    position: inherit;
    float: right;
    width: 20%;
}
.tab1{
    text-align: right;
    position: relative;
    float: right;
    width: 20%;
    display: inline-block;
    padding: 0px;
    bottom: 69px;
}
.tablinks{
    width: 95%;
    text-align: center;
    display: inherit;
	background: #e9e9e9;
	color: black;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	border-radius: 10px;
	padding: 20px;
	margin: 5px;
	text-transform: uppercase;
	letter-spacing: 3px;
    box-shadow: 1px 1px 15px 0px rgba( 20, 20, 20, .3 );
    font-weight: bold;
    float: right;
}
.tablinks-1{
    
    width: 95%;
	text-align: center;
    display: inherit;
	background: #e9e9e9;
	color: black;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	border-radius: 10px;
	padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
	margin: 5px;
	text-transform: uppercase;
    box-shadow: 1px 1px 15px 0px rgba( 20, 20, 20, .3 );
    font-weight: bold;
    content: "3";
}
.tablinks-2{
    width: 95%;
    text-align: center;
    display: inherit;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	border-radius: 10px;
	padding-top: 20px;
    padding-bottom: 20px;
    padding-left: inherit;
    padding-right: inherit;
	margin: 5px;
	text-transform: uppercase;
	letter-spacing: 3px;
    box-shadow: 1px 1px 15px 0px rgba( 20, 20, 20, .3 );
    font-weight: bold;
    float: right;
    box-shadow: 1px 1px 15px 0px rgba( 20, 20, 20, .3 );
    font-weight: bold;
}
    input[type=range] {
  -webkit-appearance: none;
  width: 65%;
  height: 40px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.6) 100%);
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 30px;
    float: left;   
}
.label-1 {
    color: #444;
    font-weight: 700;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.input-toggle-handle {
  display: block;
  width: 84px;
  height: 30px;
  background-image: linear-gradient(#51c2d7, #51dacf);
  border-radius: 10em;
  transition: .4s ease;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 44px 44px #fff;
}
.input-toggle-handle:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 2.4px;
  left: 8px;
  width: 32px;
  height: 25px;
  transition: .4s ease;
  background: #fff;
  border-radius: 10em;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
}
}
